<mat-toolbar>
  <nav>
    <a
      mat-button
      aria-label="A link to Photos page"
      routerLink=""
      routerLinkActive
      [routerLinkActiveOptions]="{exact:true}"
      #rlaHome="routerLinkActive"
      [color]="rlaHome.isActive ? 'primary' : 'basic'"
      id="photos-link"
    >
      Photos
    </a>
    <a
      mat-button
      aria-label="A link to Favorites page"
      routerLink="/favorites"
      routerLinkActive
      #rlaFavorites="routerLinkActive"
      [color]="rlaFavorites.isActive ? 'primary' : 'basic'"
      id="favorites-link"
    >
      Favorites
    </a>
  </nav>
</mat-toolbar>
